/* Universal Styles ====================================================================*/
* {
  font-family: Quicksand, sans-serif;
  font-weight: 300;
  color: #424242;
}

hr {
  display: block;
  height: 3px;
  border: 0;
  margin: 10px 0;
  padding: 0;
  background-color: #7d97ad;
}

.description {
	font-style: italic;
}


.header-title {

}

.navigation {

}

#content {

	margin: 0 auto;
	width: 98%;

}
