{% extends "base.html" %}
{% block content %}
{% include "header.html"%}
	<body>
		<h2>Categories</h2>
		{% for category in categories %}
		<div>
			<p><b>{{category.name}}</b></p>
			<p>{{category.description}}</p>
			<a href="{{url_for('showItems', category_id = category.id)}}">Items</a><br>
			<a href="{{url_for('editCategory', category_id = category.id)}}">Edit Category</a><br>
			<a href="{{url_for('deleteCategory', category_id = category.id)}}">Delete Category</a><br>
		</div>
		{% endfor %}
		<br>
		<a href="{{url_for('newCategory')}}">Add a new category</a>
	</body>
{% endblock %}
