<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <title>Item Catalog</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	</head>
	<body>
		<div>
      <h2>Edit Category</h2>
			<form action="{{url_for('editCategory', category_id = category.id)}}" method = 'POST'>
            <p>Name:</p>
                <input type="text" name="name" value="{{category.name}}" required><br>
						<p>Description:</p>
								<textarea name="description">{{category.description}}</textarea><br>
                <input type='submit' value='Edit' class="btn btn-warning">
            <a href = "{{url_for('showCategories')}}"> Cancel </a>
        </form>


		</div>

	</body>
</html>
